[
 {rabbit,
  [
   {% if config.rabbit.tcp_listeners is defined -%}
   {%   if config.rabbit.tcp_listeners is iterable %}
   {tcp_listeners, [
   {%     for address, port in config.rabbit.tcp_listeners.iteritems() %}
       {% if loop.last %}
       {"{{ address }}", {{ port }}}
       {% else %}
       {"{{ address }}", {{ port }}},
       {% endif %}
   {%     endfor %}
      ]},
   {%  else %}
   {tcp_listeners, [{{ config.rabbit.tcp_listeners }}]},
   {%  endif %}
   {%- endif %}
   
   {% if config.rabbit.ssl_listeners is defined -%}
   {%   if config.rabbit.ssl_listeners is iterable %}
   {ssl_listeners, [
   {%     for address, port in config.rabbit.ssl_listeners.iteritems() %}
       {% if loop.last -%}
       {"{{ address }}", {{ port }}}
       {% else %}
       {"{{ address }}", {{ port }}},
       {%- endif %}
   {%     endfor %}
      ]},
   {%  else %}
   {ssl_listeners, [{{ config.rabbit.ssl_listeners }}]},
   {%  endif %}
   {%- endif %}
   
   {% if config.rabbit.num_tcp_acceptors is defined -%}
   {num_tcp_acceptors, {{ config.rabbit.num_tcp_acceptors }}},
   {%- endif %}
   {% if config.rabbit.num_ssl_acceptors is defined -%}
   {num_ssl_acceptors, {{ config.rabbit.num_ssl_acceptors }}},
   {%- endif %}
   
   {% if config.rabbit.handshake_timeout is defined -%}
   {handshake_timeout, {{ config.rabbit.handshake_timeout }}},
   {%- endif %}
   
   {% if config.rabbit.log_levels is defined -%}
   {%   if config.rabbit.log_levels is iterable %}
   {log_levels, [
   {%     for type, level in config.rabbit.log_levels.iteritems() %}
       {% if loop.last %}
       { {{ type }}, {{ level }} }
       {% else %}
       { {{ type }}, {{ level }} },
       {% endif %}
   {%     endfor %}
      ]},
   {%  endif %}
   {%- endif %}
   
   {% if config.rabbit.reverse_dns_lookups is defined -%}
   {reverse_dns_lookups, {{ config.rabbit.reverse_dns_lookups }}},
   {%- endif %}
   
   {% if config.rabbit.loopback_users is defined -%}
   {loopback_users, [
     {% if config.rabbit.loopback_users is iterable %}
     {%   for user in config.rabbit.loopback_users %}
     {%     if loop.last %}
     "{{ user }}"
     {%     else %}
     "{{ user }}",
     {%     endif %}
     {%   endfor %}
     {% else %}
     "{{ config.rabbit.loopback_users }}"
     {% endif %}
    ]},
   {%- endif %}
   
   {% if config.rabbit.ssl_options is defined -%}
   {ssl_options, [
     {cacertfile,           "{{ config.rabbit.ssl_options.cacertfile }}"},
     {certfile,             "{{ config.rabbit.ssl_options.certfile }}"},
     {keyfile,              "{{ config.rabbit.ssl_options.keyfile }}"},
     {verify,               {{ config.rabbit.ssl_options.verify }}},
     {fail_if_no_peer_cert, {{ config.rabbit.ssl_options.fail_if_no_peer_cert }}}
   ]},
   {%- endif %}
   
   {% if config.rabbit.auth_mechanisms is defined -%}
   {auth_mechanisms, [
     {% if config.rabbit.auth_mechanisms is iterable %}
     {%   for mech in config.rabbit.auth_mechanisms %}
     {%     if loop.last %}
     '{{ mech }}'
     {%     else %}
     '{{ mech }}',
     {%     endif %}
     {%   endfor %}
     {% else %}
     {{ config.rabbit.auth_mechanisms }}
     {% endif %}
   ]},
   {%- endif %}
   
   {% if config.rabbit.ssl_handshake_timeout is defined -%}
   {ssl_handshake_timeout, {{ config.rabbit.ssl_handshake_timeout }}},
   {%- endif %}
   
   {% if config.rabbit.password_hashing_module is defined -%}
   {password_hashing_module, {{ config.rabbit.password_hashing_module }}},
   {%- endif %}
   
   {% if config.rabbit.default_vhost is defined -%}
   {default_vhost, "{{ config.rabbit.default_vhost }}"},
   {%- endif %}
   {% if config.rabbit.default_user is defined -%}
   {default_user, "{{ config.rabbit.default_user }}"},
   {%- endif %}
   {% if config.rabbit.default_pass is defined -%}
   {default_pass, "{{ config.rabbit.default_pass }}"},
   {%- endif %}
   {% if config.rabbit.default_permissions is defined -%}
   {default_permissions, [
   {%  if config.rabbit.default_permissions is iterable %}
   {%    for perm in config.rabbit.default_permissions %}
   {%      if loop.last %}
   "{{ perm }}"
   {%      else %}
   "{{ perm }}",
   {%      endif %}
   {%    endfor %}
   {%  else %}
   "{{ config.rabbit.default_permissions }}"
   {%  endif %}
     ]},
   {%- endif %}
   
   {% if config.rabbit.default_user_tags is defined -%}
   {default_user_tags, [
   {%  if config.rabbit.default_user_tags is iterable %}
   {%    for usertag in config.rabbit.default_user_tags %}
   {%      if loop.last %}
     {{ usertag }}
   {%      else %}
     {{ usertag }},
   {%      endif %}
   {%    endfor %}
   {%  else %}
     {{ config.rabbit.default_user_tags }}
   {% endif %}
   ]},
   {%- endif %}
   
   {% if config.rabbit.heartbeat is defined -%}
   {heartbeat, {{ config.rabbit.heartbeat }}},
   {%- endif %}
   
   {% if config.rabbit.frame_max is defined -%}
   {frame_max, {{ config.rabbit.frame_max }}},
   {%- endif %}
   
   {% if config.rabbit.initial_frame_max is defined -%}
   {initial_frame_max, {{ config.rabbit.initial_frame_max }}},
   {%- endif %}
   
   {% if config.rabbit.channel_max is defined -%}
   {channel_max, {{ config.rabbit.channel_max }}},
   {%- endif %}
   
   {% if config.rabbit.tcp_listen_options is defined -%}
   {tcp_listen_options, [
     {%   if config.rabbit.tcp_listen_options is iterable %}
     {%     for k, v in config.rabbit.tcp_listen_options %}
     {%       if loop.last %}
     { {{ k }}}, {{ v }} }
     {%       else %}
     { {{ k }}}, {{ v }} },
     {%       endif %}
     {%     endfor %}
     {%   endif %} 
   ]},
   {%- endif %}
   
   {% if config.rabbit.vm_memory_high_watermark is defined -%}
   {vm_memory_high_watermark, 
   {%   if config.rabbit.vm_memory_high_watermark.absolute is defined %}
   {%     if config.rabbit.vm_memory_high_watermark.absolute is string %}
     { absolute, "{{ config.rabbit.vm_memory_high_watermark.absolute }}" }
   {%     else %}
     { absolute, {{ config.rabbit.vm_memory_high_watermark.absolute }} }
   {%     endif %}
   {%   else %}
     {{ config.rabbit.vm_memory_high_watermark }}
   {%   endif %}
   },
   {%- endif %}
   
   {% if config.rabbit.vm_memory_high_watermark_paging_ratio is defined -%}
   {vm_memory_high_watermark_paging_ratio, {{ config.rabbit.vm_memory_high_watermark_paging_ratio }}},
   {%- endif %}
   
   {% if config.rabbit.memory_monitor_interval is defined -%}
   {memory_monitor_interval, {{ config.rabbit.memory_monitor_interval }}},
   {%- endif %}
   
   {% if config.rabbit.disk_free_limit is defined -%}
   {disk_free_limit, 
   {%   if config.rabbit.disk_free_limit.mem_relative is defined -%}
     {mem_relative, {{ config.rabbit.disk_free_limit.mem_relative }}}
   {%   else %}
   {%     if config.rabbit.disk_free_limit is string %}
     "{{ config.rabbit.disk_free_limit }}"
   {%     else %}
     {{ config.rabbit.disk_free_limit }}
   {%     endif %}
   {%   endif %}
   },
   {%- endif %}
   
   {% if config.rabbit.cluster_partition_handling is defined -%}
   {cluster_partition_handling, {{ config.rabbit.cluster_partition_handling }}},
   {%- endif %}
   
   {% if config.rabbit.cluster_nodes is defined -%}
   {cluster_nodes, {[
   {%   for nodeconf in config.rabbit.cluster_nodes %}
       '{{ nodeconf }}'
   {%   endfor %}
     ], disc}
   },
   {%- endif %}
   
   {% if config.rabbit.cluster_keepalive_interval is defined -%}
   {cluster_keepalive_interval, {{ config.rabbit.cluster_keepalive_interval }}},
   {%- endif %}
   
   {% if config.rabbit.collect_statistics is defined -%}
   {collect_statistics, {{ config.rabbit.collect_statistics }}},
   {%- endif %}
   
   {% if config.rabbit.collect_statistics_interval is defined -%}
   {collect_statistics_interval, {{ config.rabbit.collect_statistics_interval }}},
   {%- endif %}
   
   {% if config.rabbit.hipe_compile is defined -%}
   {hipe_compile, {{ config.rabbit.hipe_compile }}},
   {%- endif %}
   
   {% if config.rabbit.mnesia_table_loading_timeout is defined -%}
   {mnesia_table_loading_timeout, {{ config.rabbit.mnesia_table_loading_timeout }}},
   {%- endif %}
   
   {% if config.rabbit.queue_index_embed_msgs_below is defined -%}
   {queue_index_embed_msgs_below, {{ config.rabbit.queue_index_embed_msgs_below }}},
   {%- endif %}
  ]}
].